<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CACSMS Studio Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3018/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".git" />
          <add segment=".next" />
          <add segment=".env" />
          <add segment=".env.local" />
          <add segment=".env.production" />
          <add segment=".env.development" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
  <appSettings>
    <add key="CACSMS_PUBLIC_PORT" value="3008" />
    <add key="CACSMS_INTERNAL_NODE_PORT" value="3018" />
    <add key="CACSMS_APP_NAME" value="cacsms-studio" />
  </appSettings>
</configuration>
